<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    >
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".materialdesign.DragRecyclerViewActivity" android:screenOrientation="portrait" />
        <activity android:name=".materialdesign.DeleteRecyclerViewActivity" />
        <activity android:name="com.lazyxu.test.DispatchActivity" />
        <activity android:name=".cache.CacheActivity" />
        <activity android:name=".compress.PicCompressActivity" />
        <activity android:name="com.lazyxu.test.custom.CustomView1Activity" />
    </application>
</manifest>