<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lazyxu.lib_music">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <application>
        <!--android:exported:否能被其他应用隐式调用(true能，false不能)
        eg:需要知道从googleplay下载的apk来自于哪个推广渠道，设置为true，googleplay会向app发送广播，告知推广渠道
        -->
        <service
            android:name=".MusicService"
            android:exported="false" />
    </application>


</manifest>